@import '../../../../styles/variables.scss';

.FeaturedCard {
  flex-basis: 32%;
  margin-bottom: 40px;
  .featuredCard--wrapper {
    background: $white;
    padding: 0.7rem;
    padding-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    h3 {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600;
      display: flex;
      justify-content: space-between;
      span {
        color: $lightblue;
      }
    }
    h5 {
      font-family: Arial, Helvetica, sans-serif;
      margin-top: 5px;
      display: flex;
      justify-content: space-between;
      color: $lightblue;
    }

    p {
      display: flex;
      align-items: center;
      margin-top: 5px;
      font-size: 1.2rem;
      color: $secondary;
      .location--icon {
        height: 20px;
        margin-right: 6px;
        color: $lightblue;
      }
    }
  }
}
