// Fonts

/* Open Sans */
// @import url("https://fonts.googleapis.com/css2?family=Koulen&family=Open+Sans:wght@400;700;800&display=swap");
// Colors
$primary: #151b3d !default;
$secondary: #949494 !default;
$green: #217426 !default;
$white: #fff !default;
$black: #000 !default;
$lightblue: #1580ff;
$darkgrey: #323232;
// Shadow
$box-shadow-sm: 0 0.125rem 0.35rem rgba($black, 0.35) !default;

// typography
$h1-font-size: (30px * 2) !default;
$font-family-sans-serif: 'Open Sans', sans-serif;
$heading-font-family: 'Koulen', cursive;

// Nabar
$navbar-padding-x: 40px;
$nav-link-padding-y: 0 !default;
$nav-link-font-size: 18px !default;
$navbar-dark-color: $white !default;
$nav-tabs-link-active-bg: $primary !default;
$nav-tabs-link-active-color: $white !default;
$nav-tabs-border-radius: 0 !default;

// Inputs
$enable-validation-icons: false !default;
$btn-focus-box-shadow: unset !default;
$input-focus-box-shadow: unset !default;
$input-btn-focus-blur: 0;
$input-btn-focus-width: 0;
$input-btn-focus-color: transparent !default;

// Popover
$popover-arrow-color: $secondary;

// Cards
$card-spacer-x: 1.5rem !default;
$card-cap-bg: transparent !default;
$card-border-width: 0;

// Form
$form-label-color: $secondary !default;

// Floating form input
$form-floating-label-transform: scale(0.9) translateY(-1.2rem)
  translateX(0.85rem);
$form-floating-label-opacity: 1;

@import 'bootstrap/scss/bootstrap.scss';

:export {
  secondary: $secondary;
}
